*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
html
.*.sw?
Gemfile.lock
.idea/*
.idea/emacs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/emacs.xml
